.bg-one-home {
    background-image: url("https://user-images.githubusercontent.com/139281214/270061843-be9472e5-eae7-4bdd-b88b-98336ac8094d.jpg");
}


.bg-two-manifesto {
    background-image: url('https://user-images.githubusercontent.com/139281214/270062436-0f18d367-2b0d-4a18-a7c6-e285a9b96d35.jpg');
}





.slideshow {
    position: relative;
    max-width: 800px;
    margin: auto;
 }
 
 .slideshow img {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: 10s;
 }
 
 img.active {
    opacity: 1;
 }